*{
  background-color: #00001a;

}
li,a ,button{
  font-family: "Montserrat" , sans-serif;
  font-weight: 500;
  font-size: 16px;
 

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo{
  cursor: pointer;

}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
}
.nav_links li a{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
  color: #0088a9;
}

button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor:pointer ;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0,136,169,0.8);
}
}

// contact form //
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins','sans-serif';
}


form{
 
  
}
form h3{
  color:#fff ;
  font-weight: 800;
  margin-bottom: 20px;
}
form input, form textarea{
  border: 0;
 
  padding: 20px;
  outline: none;
  background: #fff ;
  font-size: 16px;

}
form button{
  background-color: #5A3C41;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
}
  .about_section {
  position: relative;
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box img {
  width: 100%;
}


.hero {
  position: relative;
  height: calc(90vh - 84px);
}

.hero::after {
  content: "";
  background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: -5px;
}

.hero-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-position: left;

}


.hero .arrow-icon {
  position: relative;
  top: 50px;

}
.date-text,
.location-text {
  border: 1px solid var(--white-color);
  color: var(--white-color);
  display: inline-block;
  padding: 10px 20px;
}

.date-text {
  border-right: 0;
}

.about_section {
  position: relative;
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box img {
  width: 100%;
}
.clients {
     padding: 90px 0 141px 0;
     background: #5a2f27;
}

.padding_lert {
     max-width: 666px;
     float: right;
     width: 100%;
}

.client_section .heading_container {
  
      -ms-flex-pack: center;
         
}

.client_section .secondary_heading {
  text-align: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fbb534;
  padding: 25px;
  width: 85%;
  margin: 75px auto;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.client_section .client_container .client-id .img-box {
  margin-right: 25px;
}

.client_section .client_container .client-id .img-box img {
  width: 50%;
}

.client_section .client_container .client-id h5 {
  font-weight: bold;
}

.client_section .client_container .client-id h6 {
  color: #f6d768;
}

.client_section .client_container .detail-box {
  width: 55%;
}

.client_section .client_container .detail-box p {
  margin: 0;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  opacity: 1;
}

.client_section .carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client_section .carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}







@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");




.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  
  display: flex;
}

.heading_container h2 {
  position: relative;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 30px;
  top: 14%;
  right: -15px;
  background: -webkit-gradient(linear, left top, right top, from(#fb930a), to(#f5e47b));
  background: linear-gradient(to right, #fb930a, #f5e47b);
}

/*header section*/



}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}


}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
 
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {

  background-size: 45px;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  position: relative;
}

.quote_btn-container a .cart_number {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

.quote_btn-container a img {
  width: 20px;
  margin: 0 25px;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.slider_section .design-box img {
  width: 100%;
}

.slider_section .slider_number-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  text-align: center;
  opacity: .6;
}

.slider_section .slider_number-container hr {
  width: 1px;
  height: 50px;
  border: none;
  background-color: #ffffff;
}

.slider_section .slider_number-container .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slider_section .detail_box h2 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail_box h2 span {
  margin-right: 10px;
}

.slider_section .detail_box h2 hr {
  margin: 0;
  border: none;
  width: 55px;
  height: 1px;
  background-color: #000000;
}

.slider_section .detail_box h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 30px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin: 35px 0;
}

.slider_section .detail_box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  padding: 0;
  margin: 0;
  right: initial;
  bottom: 22%;
  left: 17%;
}

.slider_section .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: auto;
  opacity: 1;
  background-color: transparent;
  border: none;
  color: #c0c0c0;
  font-size: 24px;
  display: none;
}

.slider_section .carousel-indicators li.active {
  display: block;
}

.item_section .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_section .item_container .box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
}

.item_section .item_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_section .item_container .box .img-box img {
  width: 125px;
}

.item_section .item_container .box h6 {
  color: #fbb534;
  text-transform: uppercase;
}

.item_section .item_container .box h5 {
  text-transform: uppercase;
}

.item_section .item_container .box:hover {
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}

.about_section {
  position: relative;
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box img {
  width: 100%;
}

.price_section {
  background-color: #f8f8f8;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price_section .price_container .box {
  min-width: 300px;
  max-width: 360px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 10px;
  padding: 45px 0 25px 0;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price_section .price_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_section .price_container .box .img-box img {
  width: 150px;
}

.price_section .price_container .box h6 {
  font-weight: bold;
  font-size: 18px;
}

.price_section .price_container .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.price_section .price_container .box .detail-box h5 span {
  color: #fbb534;
}

.price_section .price_container .box .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.price_section .price_container .box:hover a {
  border-color: #fbb534;
  color: #fbb534;
}

.price_section .price_btn {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
}

.price_section .price_btn:hover {
  background-color: transparent;
  color: #0d0806;
}

.ring_section {
  text-align: center;
  position: relative;
}

.ring_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring_section .container {
  -webkit-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
}

.ring_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.ring_section .design-box img {
  width: 100%;
}

.ring_section .ring_container .detail-box h4 {
  text-transform: uppercase;
  color: #fbb534;
}

.ring_section .ring_container .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.ring_section .ring_container .img-box img {
  width: 100%;
}

.client_section .heading_container {

     
         
}

.client_section .secondary_heading {
  text-align: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fbb534;
  padding: 25px;
  width: 85%;
  margin: 75px auto;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.client_section .client_container .client-id .img-box {
  margin-right: 25px;
}

.client_section .client_container .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .client-id h5 {
  font-weight: bold;
}

.client_section .client_container .client-id h6 {
  color: #f6d768;
}

.client_section .client_container .detail-box {
  width: 55%;
}

.client_section .client_container .detail-box p {
  margin: 0;
}







.contact_section .design-box {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  width: 75px;
}

.contact_section .design-box img {
  width: 100%;
}

.contact_section h2 {
  margin-bottom: 65px;
}


.contact_section input {
  
  margin-bottom: 25px;
  
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  padding: 12px 45px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  
  margin-top: 35px;
}

.contact_section .map_container {
  height: 100%;
  padding-bottom: 110px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.info_section {
  
  color: #ffffff;
}

.info_section .info_container .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 10px 45px 10px;
  background-color: #ffffff;
  width: 200px;
  border-radius: 0 0 50px 50px;
}

.info_section .info_container .info_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_container .info_logo a img {
  width: 50px;
  margin-right: 10px;
}

.info_section .info_container .info_logo a span {
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.info_section .info_container .info_contact {
  padding: 115px 10px 45px 10px;
}

.info_section .info_container .info_contact a {
  color: #ffffff;
}

.info_section .info_container .info_contact a img {
  margin-right: 10px;
}

.info_section .info_heading {
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
}

.info_section .info_heading::before {
  content: "";
  width: 45px;
  height: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  background-color: #f8bf46;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_form form .email_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_form form label {
  color: #5a5959;
}

.info_section .info_form form input {
  width: 500px;
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 5px;
}

.info_section .info_form form button {
  padding: 8px 65px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  margin-top: 35px;
 
}

.info_section .info_social {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box img {
  min-width: 10px;
  margin: 0 10px;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #9c9b9b;
  margin: 0;
  text-align: center;
  padding: 20px 35px;
  margin: 0;
}

.footer_section a {
  color: #9c9b9b;
}
/*# sourceMappingURL=style.css.map */


/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/







a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     
     
}

h1,
h3,
h4,
h5,
h6 {
    
}

h1 {
     font-size: 24px;
}



h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,














 




     
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
 
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     padding: 0px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #eda911;
     font-size: 16px;
     line-height: 20px;
     font-weight: 500;
     text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
     color: #5a2f27 !important;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.Call a {
     display: inline-block;
     padding: 7px 0;
     color: #5a2f27;
     font-size: 20px;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.header {
     width: 100%;
     background: #eae9e4;
     padding: 20px 30px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** banner section **/

.banner_main {
     background: #eae9e4;
     padding: 20px 0px 90px 0px;
}

.text-bg {
     text-align: left;
}

.text-bg h1 {
     color: #5a2f27;
     font-size: 90px;
     line-height: 120px;
     padding-bottom: 15px;
     font-weight: bold;
}

.text-bg p {
     color: #5a2f27;
     font-size: 17px;
     line-height: 30px;
     padding: 25px 0px 60px 0px;
}

.main_form {
     padding: 60px 50px 80px 50px;
     background: #5a2f27;
     border-radius: 10px;
     border-top: #eda911 solid 15px;
}

.main_form .contactus {
     border: inherit;
     margin-bottom: 70px;
     width: 100%;
     height: 45px;
     background: transparent;
     color: #fbfaf8;
     font-size: 16px;
     font-weight: 400;
     border-radius: inherit;
     border-bottom: #fff solid 1px;
}

.main_form .textarea {
     border: #f6c2d7 solid 1px;
     padding: 0px 19px;
     margin-bottom: 20px;
     width: 100%;
     background: transparent;
     color: #f5bed2;
     font-size: 16px;
     font-weight: 500;
     border-radius: 15px;
     padding-top: 35px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     margin: 0 auto;
     max-width: 200px;
     width: 100%;
     display: block;
     font-weight: 500;
     text-transform: uppercase;
     border-radius: 35px;
}

.main_form .send_btn:hover {
     background-color: #eda911;
     transition: ease-in all 0.5s;
     color: #000;
}

#request *::placeholder {
     color: #fbfaf8;
     opacity: 1;
}


/** end banner section **/

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 45px;
     color: #5a2f27;
     line-height: 55px;
     font-weight: bold;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.yellow {
     color: #f6b219;
     font-weight: bold;
}

.read_more {
     font-size: 17px;
     background-color: #000;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 200px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.read_more:hover {
     background: #eda911;
     color: #000;
     transition: ease-in all 0.5s;
}


/** food section **/

.food {
     background: #fff;
     margin: 90px 0;
}

.food .titlepage span {
     font-size: 17px;
     line-height: 30px;
     color: #000000;
     font-weight: 501;
     display: block;
     padding: 0px 49px;
}

.food .food_box {
     text-align: center;
     background: #5a2f27;
     margin-bottom: 30px;
     margin-top: 116px;
     padding: 0px 30px 30px 30px;
}

.food .food_box:hover {
     background: #fdbe31 !important;
}

.food_box i img {
     margin-top: -116px;
}

.food .food_box h4 {
     font-family: 'Noto Serif', serif;
     font-size: 20px;
     line-height: 30px;
     font-weight: 501;
     padding-top: 30px;
     padding-bottom: 0;
     color: #fff;
     padding-bottom: 10px;
}

.food .food_box p {
     color: #fff;
     font-size: 17px;
     line-height: 33px;
}


/** end food section **/


/** works section **/

.works {
     background: #fff;
     margin: 90px 0;
}

.works .titlepage h2 {
     padding-bottom: 0;
}

.works .titlepage span {
     font-size: 17px;
     line-height: 30px;
     color: #b3b1a6;
     font-weight: 501;
     display: block;
}

.works .works_box {
     margin-top: 30px;
     background: #eda911;
     margin-bottom: 30px;
     padding: 0px 30px 30px 30px;
     border-radius: 0px 60px 0px 60px;
     transition: ease-in all 0.5s;
}

.works .works_box h4 {
     font-size: 25px;
     line-height: 30px;
     font-weight: bold;
     color: #fff;
     background: #5a2f27;
     width: 80px;
     text-align: center;
     border-radius: 50px;
     height: 80px;
     padding-top: 26px;
     margin-left: -50px;
     margin-top: -30px;
     position: absolute;
}

.works .works_box p {
     color: #fff;
     font-size: 17px;
     line-height: 33px;
     text-align: center;
     padding-top: 60px;
}

#white_bg:hover.works_box {
     background: #eae9e4 !important;
     border-radius: 40px 0px 40px 0px;
     transition: ease-in all 0.5s;
}

#white_bg:hover.works_box p {
     color: #000;
}

#white_bg:hover.works_box h4 {
     background: #190707;
}


/** end works section **/


/** clients section **/

.clients {
     padding: 90px 0 141px 0;
     background: #5a2f27;
}

.padding_lert {
     max-width: 666px;
     float: right;
     width: 100%;
}

.clients .titlepage {
     padding-bottom: 20px;
     text-align: left;
}

.clients .titlepage h2 {
     color: #fff;
}

.clients_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.clients_box {
     text-align: center;
}

.test_box {
     padding: 30px 25px 35px 25px;
     background: #fff;
}

.clients_Carousel .test_box h4 {
     font-size: 20px;
     color: #eda911;
     line-height: 18px;
     display: block;
     font-weight: bold;
     text-transform: uppercase;
     padding: 80px 0 0 0;
}

.clients_Carousel .imga figure {
     margin: 0;
}

.clients_Carousel .imga figure img {
     margin-bottom: -80px;
}

.clients_Carousel .test_box p {
     font-size: 17px;
     line-height: 28px;
     color: #3c3c3d;
     padding-top: 20px;
     padding-bottom: 30px;
}

.clients_Carousel .carousel-indicators {
     bottom: -50px;
}

.clients_Carousel .carousel-indicators li {
     width: 20px;
     height: 20px;
     background: #eda911;
     border-radius: 10px;
}

.clients_Carousel .carousel-indicators li.active {
     background: #fffefe;
}



.clients_imgfood figure {
     margin: 0;
}

.clients_imgfood figure img {
     width: 100%;
}


/** end clients section **/


/** footer **/

.footer {
     background: #fff;
     padding-top: 85px;
     text-align: center;
}

.footer .titlepage {
     text-align: left;
     padding-bottom: 10px;
}

.footer .titlepage h2 {
     color: #e95d49;
}

.cont {
     text-align: center;
}

.cont h3 {
     color: #0e0d0d;
     font-size: 45px;
     line-height: 66px;
     font-weight: 600;
}

.cont p {
     color: #eda911;
     font-size: 20px;
     line-height: 30px;
     padding-top: 10px;
     font-weight: 501;
     padding-bottom: 35px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #000;
     color: #fff;
     width: 100%;
     display: block;
     font-weight: 500;
     border-radius: 35px;
     border: #fff solid 4px;
     padding: 13px 0px;
     max-width: 200px;
     margin: 0 auto;
}

.sub_btn:hover {
     background-color: #eda911;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 90px;
     padding: 20px 0px;
     background-color: #582e26;
}

.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
}

.copyright a:hover {
     color: #eda911;
}


/** end footer **/

@media (max-width: 1120px) {}

@media (max-width: 992px) {

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
  }

  .quote_btn-container {
    display: none;
  }


  .ring_section .ring_container .detail-box {
    margin-bottom: 45px;
  }

  .price_section .price_container .box {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    background-position: top left;
    height: auto;
  }

  .slider_section {
    padding: 45px 0;
  }

  .contact_section button {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_section form {
    padding: 0;
  }

  .client_section .client_container {
    flex-direction: column;
  }

  .client_section .client_container .client-id {
    width: auto;
  }

  .client_section .client_container .detail-box {
    margin-top: 35px;
    width: auto;
  }

  .contact_section .map_container {
    height: 350px;
    padding: 0;
  }

  .info_section .col-md-3 {
    display: flex;
    justify-content: center;
  }

  .info_section .info_container .info_contact {
    padding: 35px 0;
  }

  .info_section .info_form form input {
    width: 100%;
  }

  .ring_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .slider_section .detail_box {
    text-align: center;
  }

  .slider_section .detail_box h1 {
    font-size: 4rem;
  }

}

@media (max-width: 480px) {

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }
}

@media (max-width: 420px) {
  .slider_section .detail_box h1 {
    font-size: 3rem;
  }

  .slider_section .detail_box h2 {
    font-size: 1.8rem;
  }

  .heading_container h2::before {
    display: none;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

            
}

.sub_page .hero_area {
  height: auto;
  background-position: top right;
}




.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}


a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}



.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-size: 45px;
}
  .contact_section button {
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_section form {
    padding: 0;
  }

  .client_section .client_container {
    flex-direction: column;
  }

  

  .client_section .client_container .detail-box {
    margin-top: 35px;
    width: auto;
  }

  .contact_section .map_container {
    height: 350px;
    padding: 0;
  }

  .info_section .col-md-3 {
    display: flex;
    justify-content: center;
  }

  .info_section .info_container .info_contact {
    padding: 35px 0;
  }

  .info_section .info_form form input {
    width: 100%;
  }

  .ring_section {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .slider_section .detail_box {
    text-align: center;
  }

  .slider_section .detail_box h1 {
    font-size: 4rem;
  }

}

@media (max-width: 480px) {

  

@media (max-width: 420px) {
  .slider_section .detail_box h1 {
    font-size: 3rem;
  }

  .slider_section .detail_box h2 {
    font-size: 1.8rem;
  }

  .heading_container h2::before {
    display: none;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .footer_section {
  
    color: #000001;
  }

}

